{% extends 'base.html' %}
{% load static %}
{% block content %}
<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th scope="col">Gatepass ID</th>
        <th scope="col">From Date</th>
        <th scope="col">TO Date</th>
        <th scope="col">Supervisor</th>
        <th scope="col">Assistant Warden</th>
        <th scope="col">Warden</th>
        <th scope="col">Control Room</th>
        <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    {% for g in gatepasses %}
    <tr>
        <th scope="row">{{ g.id }}</th>
        <td>{{ g.from_date }}</td>
        <td>{{ g.to_date }}</td>
        <td>{{ g.hostel_supervisor }}</td>
        <td>{{ g.hostel_assistant_warden }}</td>
        <td>{{ g.hostel_warden }}</td>
        <td>{{ g.control_room }}</td>

        {% ifequal g.hostel_supervisor "Pending" %}
        {% ifequal g.control_room "Pending" %}
        {% ifequal g.hostel_warden "Pending" %}
        {% ifequal g.hostel_assistant_warden "Pending" %}
        <td>
            <a href="{% url 'gatepass_apply:gatepass_detail' g.id %}">
                <button type="button" class="btn btn-info" style="width: 80px;">Detail</button>
            </a>
            <a href="{% url 'gatepass_apply:gatepass_update' g.id %}">
                <button type="button" class="btn btn-warning" style="width: 80px;">Update</button>
            </a>
            <button id="btn-confirm" type="button" class="btn btn-danger" style="width: 80px;">Delete</button>
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"
                 id="mi-modal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Are you sure to delete gatepass?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true" style="width: 80px;">&times;</span></button>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'gatepass_apply:gatepass_delete' g.id %}">
                                <button type="button" class="btn btn-danger" id="modal-btn-si" style="width: 80px;">
                                    Delete
                                </button>
                            </a>
                            <button type="button" class="btn btn-primary" id="modal-btn-no" style="width: 80px;">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        {% else %}
        <td>
            <a href="{% url 'gatepass_apply:gatepass_detail' g.id %}">
                <button type="button" class="btn btn-info style=" width: 80px;
                "">Detail</button></a>
            <button type="button" class="btn btn-warning" style="width: 80px;" disabled>Update</button>
            <button type="button" class="btn btn-danger" style="width: 80px;" disabled>Delete</button>
        </td>
        {% endifequal %}
        {% else %}
        <td>
            <a href="{% url 'gatepass_apply:gatepass_detail' g.id %}">
                <button type="button" class="btn btn-info" style="width: 80px;">Detail</button>
            </a>
            <button type="button" class="btn btn-warning" disabled style="width: 80px;">Update</button>
            <button type="button" class="btn btn-danger" disabled style="width: 80px;">Delete</button>
        </td>
        {% endifequal %}
        {% else %}
        <td>
            <a href="{% url 'gatepass_apply:gatepass_detail' g.id %}">
                <button type="button" class="btn btn-info" style="width: 80px;">Detail</button>
            </a>
            <button type="button" class="btn btn-warning" disabled style="width: 80px;">Update</button>
            <button type="button" class="btn btn-danger" disabled style="width: 80px;">Delete</button>
        </td>
        {% endifequal %}
        {% else %}
        <td>
            <a href="{% url 'gatepass_apply:gatepass_detail' g.id %}">
                <button type="button" class="btn btn-info" style="width: 80px;">Detail</button>
            </a>
            <button type="button" class="btn btn-warning" disabled style="width: 80px;">Update</button>
            <button type="button" class="btn btn-danger" disabled style="width: 80px;">Delete</button>
        </td>
        {% endifequal %}
    </tr>
    {{ passes.purpose }}
    {% endfor %}
    </tbody>
</table>

<div class="alert" role="alert" id="result"></div>
<script>
    var modalConfirm = function (callback) {

        $("#btn-confirm").on("click", function () {
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-si").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };

    modalConfirm(function (confirm) {
        if (confirm) {
            //Acciones si el usuario confirma
            $("#result").html("");
        } else {
            //Acciones si el usuario no confirma
            $("#result").html("");
        }
    });
</script>



{% if gatepasses.has_other_pages %}
    <ul class="pagination">
        {% if gatepasses.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ gatepasses.previous_page_number }}">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item"><a class="page-link" href="#"><span>&laquo;</span></a></li>
        {% endif %}
        {% for i in gatepasses.paginator.page_range %}
            {% if gatepasses.number == i %}
                <li class="active page-item"><span class="page-link">{{ i }} <span
                        class="sr-only ">(current)</span></span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if gatepasses.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ gatepasses.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="#"><span>&raquo;</span></a></li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}