{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-lg-6">
                <span class="anchor" id="formChangePassword"></span>
                <hr class="mb-5">
                <!-- form card change password -->
                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Change Password</h3>
                    </div>
                    <div class="card-body">
                        <form autocomplete="off" class="form" role="form" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="inputPasswordOld">Current Password</label>
                                {% render_field form.old_password class="form-control" placeholder="Old Password" %}
                            </div>
                            <span style="color: red;">{{ form.errors.old_password }}</span>
                            <div class="form-group">
                                <label for="inputPasswordNew">New Password</label>
                                {% render_field form.new_password1 class="form-control" placeholder="New Password" %}
                                <small class="form-text text-muted" id="passwordHelpBlock">Your password can't be too
                                    similar to your other personal information,must contain at least 8 characters,can't
                                    be a commonly used password,can't be entirely numeric.
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="inputPasswordNewVerify">Confirm Password</label>
                                {% render_field form.new_password2 class="form-control" placeholder="Confirm Password" %}
                                <span class="form-text small text-muted">To confirm, type the new password again.</span>
                            </div>
                            <span style="color: red;">{{ form.errors.new_password2 }}</span>
                            <div class="form-group">
                                <input class="btn btn-success btn-lg float-right" type="submit" value="Save">
                            </div>
                        </form>
                    </div>
                </div><!-- /form card change password -->
            </div>
        </div>

    </div>
{% endblock content %}