{% extends 'base.html' %}
{% load static %}
{% static "" as baseUrl %}
{% block content %}
<div class="container"> 
	<br>
<div class="hostel-card" style="background-color: rgba(141, 182, 205, 0.50); padding-top: 10px;" >
	<div class="row" style="margin-left: 0; margin-right: 0;"> 
		<div class="col-sm-6" style="padding-left: 10px; padding-right: 5px; padding-bottom: 10px">
			<div class="card" style="padding: 5px">
				<div class="image" style="height: 220px;">
					<img src="/static{{ baseUrl }}/{{ admin.pic }}" class="card-img-top"
															alt="Image Not Available" style="height: 100%">
				</div>
				<div class="card-body">
					<h5 class="card-title" style="text-align: center;">Chief Warden</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Name: </strong>{{ admin.first_name }} {{ admin.last_name }}</li>
					<li class="list-group-item"><strong>Mob. No: </strong>{{ admin.mob_no }}</li>
					<li class="list-group-item"><strong>Email ID: </strong>{{ admin.email_id }}</li>
				</ul>
			</div>
		</div> 
		<div class="col-sm-6" style="padding-left: 5px; padding-right: 10px; padding-bottom: 10px">
			<div class="card" style="padding: 5px">
				<div class="image" style="height: 220px;">
					<img src="/static{{ baseUrl }}/{{ control_room.pic }}" class="card-img-top"
															alt="Image Not Available" style="height: 100%">
				</div>
				<div class="card-body">
					<h5 class="card-title" style="text-align: center;">Control Room</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Name: </strong>{{ control_room.first_name }} {{ control_room.last_name }}</li>
					<li class="list-group-item"><strong>Mob. No: </strong>{{ control_room.mob_no }}</li>
					<li class="list-group-item"><strong>Email ID: </strong>{{ control_room.email_id }}</li>
				</ul>
			</div>
		</div>

	</div>
</div>
	<br>

{% for supervisor, warden , assistant_warden in zip_list %}
<br>
<div class="hostel-card" style="background-color: rgba(141, 182, 205, 0.50); padding-top: 10px" >
	{% if forloop.counter == 1 %}
	<h1 align="center" style=font-size:50px>Gangotri Hostel</h1>
	<h1 align="center">(GH)</h1>
	
	{% elif forloop.counter == 2 %}
	<h1 align="center"  style=font-size:50px>Arawali Hostel</h1>
	<h1 align="center">(BH1)</h1>

	{% elif forloop.counter == 3 %}
	<h1 align="center"  style=font-size:50px>Nilgiri Hostel</h1>
	<h1 align="center">(BH2)</h1>


	{% elif forloop.counter == 4 %}
	<h1 align="center"  style=font-size:50px>Shivalik Hostel</h1>
	<h1 align="center">(BH3)</h1>

	{% endif %}

	<div class="row" style="margin-left: 0; margin-right: 0; margin-top: 15px">
		<div class="col-sm-4" style="padding-left: 10px; padding-right: 5px; padding-bottom: 10px">
			<div class="card" style="padding: 5px">
				<div class="image" style="height: 220px;">
					<img src="/static{{ baseUrl }}/{{ supervisor.pic }}" class="card-img-top"
														  alt="Image Not Available" style="height: 100%">
				</div>
				<div class="card-body">
					<h5 class="card-title" style="text-align: center;">Hostel Supervisor</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Name: </strong>{{ supervisor.first_name }} {{ supervisor.last_name }}</li>
					<li class="list-group-item"><strong>Mob. No: </strong>{{ supervisor.mob_no }}</li>
					<li class="list-group-item"><strong>Email ID: </strong>{{ supervisor.email_id }}</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4 " style="padding-left: 5px; padding-right: 5px; padding-bottom: 10px;">
			<div class="card" style="padding: 5px;">
				<div class="image" style="height: 220px;">
					<img src="/static{{ baseUrl }}/{{ assistant_warden.pic }}" class="card-img-top"
																alt="Image Not Available" style="height: 100%">
				</div>
				<div class="card-body">
					<h5 class="card-title" style="text-align: center;">Assistant Warden</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Name: </strong>{{ assistant_warden.first_name }} {{ assistant_warden.last_name }}
					</li>
					<li class="list-group-item"><strong>Mob. No: </strong>{{ assistant_warden.mob_no }}</li>
					<li class="list-group-item"><strong>Email ID: </strong>{{ assistant_warden.email_id }}</li>
				</ul>
			</div>
		</div>

		<div class="col-sm-4 " style="padding-left: 5px; padding-right: 10px; padding-bottom: 10px;">
			<div class="card" style="padding: 5px;">
				<div class="image" style="height: 220px;">
					<img src="/static{{ baseUrl }}/{{ warden.pic }}" class="card-img-top" alt="Image Not Available"
																		   style="height: 100%">
				</div>
				<div class="card-body">
					<h5 class="card-title" style="text-align: center;">Warden</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Name: </strong>{{ warden.first_name }} {{ warden.last_name }}</li>
					<li class="list-group-item"><strong>Mob. No: </strong>{{ warden.mob_no }}</li>
					<li class="list-group-item"><strong>Email ID: </strong>{{ warden.email_id }}</li>
				</ul>
			</div>
		</div> 
		<!--	<div class="col-sm-6 col-lg-3">
	  <div class="card" style="width: 18rem; padding: 3px;">
	  <div class="image" style="height: 220px;">
	  <img src="/static{{ baseUrl }}/{{ control_room.pic }}" class="card-img-top"
	  alt="Image Not Available" style="height: 100%">
	  </div>
	  <div class="card-body">
	  <h5 class="card-title" style="text-align: center;">Control Room</h5>
	  </div>
	  <ul class="list-group list-group-flush">
	  <li class="list-group-item">
	  <strong>Name: </strong>{{ control_room.first_name }} {{ control_room.last_name }}</li>
	  <li class="list-group-item"><strong>Mob. No: </strong>{{ control_room.mob_no }}</li>
	  <li class="list-group-item"><strong>Email ID: </strong>{{ control_room.email_id }}</li>
	  </ul>
	  </div</div> -->
	</div>
</div>
	<br>
	{% endfor %}
</div> 


{% endblock content %}
