<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>| E-hostel Leave Application</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- ======================== -->
    <!-- Bootstrap 4 -->
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
            integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
          integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
            integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>

    <!-- ========================== -->

    <style type="text">
        {%block style%}

            .inset {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6),
                0 1px 1px rgba(0, 0, 0, 0.1);
                background-color: transparent !important;
                z-index: 999;
            }

            .inset img {
                border-radius: inherit;
                width: inherit;
                height: inherit;
                display: block;
                position: relative;
                z-index: 998;
            }
        {%endblock%}
    </style>
    <style>
        .footers {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgb(52, 58, 64);
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> E-hostel Leave Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        </ul>
        {% if not user.is_authenticated %}
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:user_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:user_signup' %}">Register</a>
                </li>
            </ul>
        {% else %}

            <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manager:add_user' %}"><i class="fas fa-user-plus"></i> Add New
                    User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manager:list_users' %}"><i class="fas fa-user-edit"></i> Manage Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manager:pending_list' %}">Pending Gatepass</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manager:approved_list' %}">Approved Gatepass</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'manager:rejected_list' %}">Rejected Gatepass</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Hi {{ user.username }}</a>
            </li>
            <ul class="navbar-nav mr-auto dropdown-menu-right">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-cog"></i></a>
                    <div class="dropdown-menu " style="right:0;left: auto;">
                        <a class="dropdown-item" href="{% url 'accounts:view_profile' %}">View Profile</a>
                        <a class="dropdown-item" href="{% url 'accounts:update_profile' %}">Update Profile</a>
                        <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change Password</a>
                        <a class="dropdown-item" href="{% url 'accounts:user_logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
            <ul/>
        {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<br><br><br>
<div class="footers">
    <p>Online Hostel Leave Application Portal </p>
</div>
</body>
</html>
