{% extends 'manager/base.html' %}
{% load static %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">Designation</th>
                <th scope="col">View</th>
            </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <th scope="row">{{ u.user }}</th>
                    <td>{{ u.first_name }} {{ u.last_name }} </td>
                    <td>{{ u.mob_no }}</td>
                    <td>{{ u.user_type }}</td>
                    <td>
                        <a href="{% url 'manager:user-detail' u.user.id %}">
                            <button type="button" class="btn btn-primary"><i class="far fa-eye"></i>&nbsp View</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {% if approved_passes.has_other_pages %}
        <ul class="pagination">
            {% if approved_passes.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ approved_passes.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#"><span>&laquo;</span></a></li>
            {% endif %}
            {% for i in approved_passes.paginator.page_range %}
                {% if approved_passes.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only ">(current)</span></span>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if approved_passes.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ approved_passes.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#"><span>&raquo;</span></a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}